
<mat-toolbar
    color="accent">
      <br>

    <mat-toolbar-row>
        <div  fxFlexFill
        fxLayout="row wrap"
        fxLayout.xs="column wrap"
        fxLayout.sm="column wrap"
        fxLayoutGap="15px grid"
        fxLayoutAlign="center"
          >
        <span>Todo App</span>
        </div>
    </mat-toolbar-row>

</mat-toolbar>

<div class="content">
      <div
      fxFlexFill
      fxLayout="row wrap"
      fxLayout.xs="column wrap"
      fxLayout.sm="column wrap"
      fxLayoutGap="15px grid"
      fxLayoutAlign="center"
      color
        >
      <div>
        <form [formGroup]="form" (ngSubmit)="addTodo()" #formDirective="ngForm">
          <mat-card style="background-color:aliceblue">
            <mat-card-header>
              <mat-card-title>Add Todo</mat-card-title>
              <mat-card-title>Edit Todo</mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <mat-form-field>
                <input matInput formControlName="task"/>
                <mat-hint *ngIf="!form.get('task')!.value"
                class="hint">Please enter a task</mat-hint>
              </mat-form-field>
              <br>
              <br>
              <div>
                <label>Priority: &nbsp;</label>
                <mat-radio-group
                arial-label="Select an Option"
                formControlName="priority"
                >
                <mat-radio-button *ngFor="let p of priorities" value="{{p}}">{{p}} &nbsp;
                </mat-radio-button>
                <br>
                <br>
                <mat-hint *ngIf="!form.get('priority')!.value"
                class="hint">Please choose priority level</mat-hint>
                </mat-radio-group>

              </div>

              <mat-form-field>
                <input
                matInput
                [matDatepicker]="picker"
                formControlName = "dueDate"
                [min]="tomorrow"
                />
                <mat-datepicker-toggle
                matSuffix
                [for]="picker"
                >
                <mat-datepicker #picker></mat-datepicker>

                </mat-datepicker-toggle>
                <mat-hint *ngIf="!form.get('dueDate')!.value"
                class="hint">Please specify due date for task</mat-hint>
              </mat-form-field>
              <br>
              <br>
              <div>
                <button mat-raised-button color="accent" type="submit" mat-raised-button color="accent" type="submit" [disabled]="form.invalid">
                  Add
                </button>
                <button mat-raised-button
                color="accent"
                type="button"
                [disabled]="form.invalid"
                *ngIf="!isAdd"
                (click)="updateTodo()"
                >
                  Update</button>

              </div>

            </mat-card-content>
          </mat-card>

          <mat-card style="background-color:beige">
            <mat-card-header>
                <mat-card-title>MY List of Todos</mat-card-title>
            </mat-card-header>
            <br>
            <mat-card-content>
              <div *ngFor="let t of todosValues; index as i">
                <mat-card-title class="card-title">
                  <span [ngClass]="{strikethrough: t.status === true}">
                  {{t.task}}
                  </span>
                </mat-card-title>

                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                  <mat-checkbox
                  [checked] ="t.status"
                  (change)="t.status = !t.status; saveDone(t)"
                  ></mat-checkbox>
                  <span [ngClass]="{ strikethrough: t.status === true}">
                    {{t.priority}} &nbsp;&nbsp;&nbsp;{{t.dueDate|date:"dd/mm/yy"}}&nbsp;&nbsp;
                  </span>
                  <!-- <mat-checkbox [ngClass]="checked? 'strikethrough':''" class="checkbox" color="primary"
                                [checked]="checked" (change)="complete($event.checked)">
                              {{t.priority}} &nbsp;&nbsp;&nbsp;{{t.dueDate|date:"dd/mm/yy"}}&nbsp;&nbsp;
                  </mat-checkbox> -->

                  <div fxLayoutGap="5px" class="delete">
                    <button mat-mini-fab color="accent" aria-label="delete icon" type="button" (click)="deleteTask(t.taskId)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-mini-fab color="accent" aria-label="edit icon" type="button"
                    (click)="editTask(i)">
                      <mat-icon>edit</mat-icon></button>
                  </div>
                </div>



              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </div>
      </div>
</div>
